In [1]:
import pandas as pd

In [2]:
df= pd.read_csv("online_retail_noisy.csv")

In [3]:
df.shape

(525461, 8)

In [4]:
df.dtypes

Invoice         object
StockCode       object
Description     object
Quantity       float64
InvoiceDate     object
Price           object
Customer ID    float64
Country         object
dtype: object

In [5]:
df.isnull().sum()

Invoice             0
StockCode           0
Description      2789
Quantity        52048
InvoiceDate         0
Price           49462
Customer ID    107927
Country             0
dtype: int64

In [6]:
df.duplicated().sum()

np.int64(2674)

In [7]:
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,512304,21791,VINTAGE HEADS AND TAILS CARD GAME,2.0,14-06-2010 16:00,1.25,15905.0,United Kingdom
1,505840,82486,WOOD S/3 CABINET ANT WHITE FINISH,2.0,26-04-2010 11:36,7.95,17049.0,United Kingdom
2,537642,TEST123,HI TEC ALPINE HAND WARMER,1.0,07-12-2010 15:33,3.36,NaN,United Kingdom
3,C491820,21545,CERAMIC BIRDHOUSE BUTTERFLY SMALL,-1.0,14-12-2009 13:49,2.95,15015.0,United Kingdom
4,508178,22236,CAKE STAND 3 TIER MAGIC GARDEN,1.0,13-05-2010 12:07,12.75,13878.0,United Kingdom

In [8]:
summary = df.describe(include="all")
print(summary)

       Invoice StockCode         Description       Quantity       InvoiceDate  \
count   525461    525461              522672  473413.000000            525461
unique   28816      4627                4671            NaN             25296
top     537434   TEST123  ###UNKNOWN ITEM@@@            NaN  06-12-2010 16:57
freq       675     10509               26273            NaN               675
mean       NaN       NaN                 NaN     121.160982               NaN
std        NaN       NaN                 NaN    1051.620583               NaN
min        NaN       NaN                 NaN   -9600.000000               NaN
25%        NaN       NaN                 NaN       1.000000               NaN
50%        NaN       NaN                 NaN       3.000000               NaN
75%        NaN       NaN                 NaN      12.000000               NaN
max        NaN       NaN                 NaN   12960.000000               NaN

         Price    Customer ID         Country
count   475999  417534.000000          525461
unique    1758            NaN              42
top       1.25            NaN  United Kingdom
freq     45561            NaN          415355
mean       NaN   15360.645478             NaN
std        NaN    1680.811316             NaN
min        NaN   12346.000000             NaN
25%        NaN   13983.000000             NaN
50%        NaN   15311.000000             NaN
75%        NaN   16799.000000             NaN
max        NaN   18287.000000             NaN

In [9]:
df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")

In [10]:
df.columns

Index(['invoice', 'stockcode', 'description', 'quantity', 'invoicedate',
       'price', 'customer_id', 'country'],
      dtype='object')